<div class="container-fluid mb-3">
    <ng-container *ngFor="let technology of Technologies">
        <div class="row">
            <div class="col-12 text-center mt-3 mb-1">
                <div class="header">
                    {{ technology.title }}
                </div>

                <div class="sub-header mt-3">
                    {{ technology.description }}
                </div>
            </div>
        </div>
        
        <div class="row mb-4 tech-row">
            <div class="card-item col-12 col-md-6 col-xl-4 mt-4" *ngFor="let item of technology.items">
                <mat-card class="d-flex align-items-center">
                    <mat-card-header>
                    <mat-card-title>{{ item.title }}</mat-card-title>
                    <mat-card-subtitle>{{ item.subtitle}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="mb-2 ml-3" *ngIf="item.description">
                            {{ item.description }}
                        </div>
                        <ul *ngIf="item.points">
                            <li *ngFor="let point of item.points">
                                {{ point }}
                            </li>
                        </ul>
                    </mat-card-content>
                </mat-card>     
            </div>
        </div>
    </ng-container>
</div>