<div class="container-fluid mb-3">
    <div class="row">
        <div class="card-item col-12 mt-2 mb-2">
            <mat-card>
                <mat-card-header>
                    <mat-card-title></mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="mb-2 ml-3">
                        <div>This site represents a portfolio of work attributed to me, David Nimon.</div>

                        <div class="mt-2">I am a software technology innovator with over 10 years invested in developing a unique set of skills combining leadership, architecture, design, and implementation. My career to date has been primarily working for Mentortek, a contract development company that was founded in 1996. I joined them in 2010 prior to finishing college in 2014. </div>

                        <div class="mt-2">The diversity of the Mentortek projects, their clients, and the roles that I have served has provided me with experience in most disciplines required to design, build, deploy, and maintain software solutions that have leveraged combinations of cloud, mobile, and embedded architectures. I serve as Mentortek's Principal Software Engineer, reporting to the CTO. My primary responsibilities in that role include:</div>

                        <ul>
                            <li>Architect, design, code, and debug new software applications</li>
                            <li>Maintain, upgrade and improve the performance of existing software</li>
                            <li>Recruit, train and supervise software engineers</li>
                            <li>Manage project client relationships and their project requirements</li>
                            <li>Contribute to and/or leverage relevant open source projects</li>
                        </ul>
                    </div>
                </mat-card-content>
            </mat-card>     
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center mt-3 mb-1">
            <div class="header">
                Sections
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card-item col-12 mt-2 mb-2">
            <mat-card>
                <mat-card-header>
                    <mat-card-title></mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="mb-2 ml-3">
                        A <a [routerLink]="['/portfolio']">project</a> section with details depicting my specific roles along with functional overviews.
                    </div>
                </mat-card-content>
            </mat-card>     
        </div>
    </div>

    <div class="row">
        <div class="card-item col-12 mt-2 mb-2">
            <mat-card>
                <mat-card-header>
                    <mat-card-title></mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="mb-2 ml-3">
                        A <a [routerLink]="['/technologies']">technology</a> section illustrating the frameworks, commercial cloud services, 3rd party integrations, programming languages, databases and project management tools I used for these projects
                    </div>
                </mat-card-content>
            </mat-card>     
        </div>
    </div>

    <div class="row">
        <div class="card-item col-12 mt-2 mb-2">
            <mat-card>
                <mat-card-header>
                    <mat-card-title></mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="mb-2 ml-3">
                        A <a [routerLink]="['/patents']">patent</a> section with a discussion of Mentortek's patent authoring services along with my relevant contributions
                    </div>
                </mat-card-content>
            </mat-card>     
        </div>
    </div>

    <div class="row">
        <div class="card-item col-12 mt-2 mb-2">
            <mat-card>
                <mat-card-header>
                    <mat-card-title></mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="mb-2 ml-3">
                        A <a [routerLink]="['/resume']">resume</a> section with my resume and contact information
                    </div>
                </mat-card-content>
            </mat-card>     
        </div>
    </div>
</div>