<div class="container-fluid mb-3">
    <div class="row">
        <div class="card-item col-12 mt-2 mb-2">
            <mat-card>
                <mat-card-header>
                    <mat-card-title></mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="mb-2 ml-3">
                        <div>This site represents a portfolio of work attributed to me, David Nimon.</div>

                        <div class="mt-2">I am a software technology innovator with over 10 years invested developing a unique set of skills that combine elements of leadership, architecture, design, and implementation - all towards enabling the creation of solutions using cloud, mobile, and embedded architectures.</div>

                        <div class="mt-2">I am a Principal Software Engineer at a contract development company called MentorTek founded in 1996 to provide software, hardware, signal processing, data analysis, and patent application resources with a vision to help shape the future of small to mid-size businesses. I joined them in 2010, prior to completing my college degree at Tarleton State in 2014 (B.S. Computer Information Systems). </div>

                        <div class="mt-2">My primary responsibilities in that role include:</div>

                        <ul>
                            <li>Architect, design, code, and debug new software applications</li>
                            <li>Maintain, upgrade and improve the performance of existing software</li>
                            <li>Recruit, train and supervise software engineers</li>
                            <li>Manage project client relationships and their project requirements</li>
                            <li>Contribute to and/or leverage relevant open source projects</li>
                        </ul>

                        <div class="mt-2">This website is a portfolio containing my commercial projects, technology related skills, patent experience, and non-commercial educational/philanthropic endeavors organized into sections as described below. Links are also provided to a concise resume and as well as a complete document compilation of the entire portfolio in a single downloadable PDF file.</div>
                    </div>
                </mat-card-content>
            </mat-card>     
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center mt-3 mb-1">
            <div class="header">
                Sections
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card-item col-12 mt-2 mb-2">
            <mat-card>
                <mat-card-header>
                    <mat-card-title></mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="mb-2 ml-3">
                        A <a [routerLink]="['/portfolio']">project</a> section with details depicting my specific roles along with functional overviews.
                    </div>
                </mat-card-content>
            </mat-card>     
        </div>
    </div>

    <div class="row">
        <div class="card-item col-12 mt-2 mb-2">
            <mat-card>
                <mat-card-header>
                    <mat-card-title></mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="mb-2 ml-3">
                        A <a [routerLink]="['/technologies']">technology</a> section illustrating the frameworks, commercial cloud services, 3rd party integrations, programming languages, databases and project management tools I used for these projects
                    </div>
                </mat-card-content>
            </mat-card>     
        </div>
    </div>

    <div class="row">
        <div class="card-item col-12 mt-2 mb-2">
            <mat-card>
                <mat-card-header>
                    <mat-card-title></mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="mb-2 ml-3">
                        A <a [routerLink]="['/patents']">patent</a> section with a discussion of Mentortek's patent authoring services along with my relevant contributions
                    </div>
                </mat-card-content>
            </mat-card>     
        </div>
    </div>

    <div class="row">
        <div class="card-item col-12 mt-2 mb-2">
            <mat-card>
                <mat-card-header>
                    <mat-card-title></mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="mb-2 ml-3">
                        A <a [routerLink]="['/resume']">resume</a> section with my resume and contact information
                    </div>
                </mat-card-content>
            </mat-card>     
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center mt-3 mb-1">
            <div class="header">
                Downloads
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card-item col-12 col-md-6 mt-2 mb-2">
            <mat-card>
                <mat-card-header>
                    <mat-card-title></mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="text-center">
                    <div class="mb-2 ml-3">
                        <a target="_blank" href="/assets/DavidNimonResume.pdf">Resume</a>
                    </div>
                </mat-card-content>
            </mat-card>     
        </div>

        <div class="card-item col-12 col-md-6 mt-2 mb-2">
            <mat-card>
                <mat-card-header>
                    <mat-card-title></mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="text-center">
                    <div class="mb-2 ml-3">
                        <a target="_blank" href="/assets/DavidNimonPortfilio.pdf">Full Portfolio</a>
                    </div>
                </mat-card-content>
            </mat-card>     
        </div>
    </div>
</div>