<div class="container-fluid mb-3">
    <div class="row">
        <div class="col-12 text-center mt-3 mb-1">
            <div class="header">
                About
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card-item col-12 mt-2 mb-2">
            <mat-card>
                <mat-card-header>
                <mat-card-title></mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="mb-2 ml-3">
                        Technology innovator with over 10 years experience, developing a unique set of skills combining leadership, architecture, design, and implementation. Acquired deep experience via a dozen projects in the various disciplines required to conceive, build, deploy, and maintain solutions requiring combinations of cloud, mobile, and embedded architectures.
                    </div>
                </mat-card-content>
            </mat-card>     
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center mt-3 mb-1">
            <div class="header">
                Sections
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card-item col-12 mt-2 mb-2">
            <mat-card>
                <mat-card-header>
                    <mat-card-title></mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="mb-2 ml-3">
                        To see a list of projects I've worked on, go to <a [routerLink]="['/portfolio']">Portfolio</a>
                    </div>
                </mat-card-content>
            </mat-card>     
        </div>
    </div>

    <div class="row">
        <div class="card-item col-12 mt-2 mb-2">
            <mat-card>
                <mat-card-header>
                    <mat-card-title></mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="mb-2 ml-3">
                        To see a list of frameworks, services, languages, and databases I've familiar with, go to <a [routerLink]="['/technologies']">Technologies</a>
                    </div>
                </mat-card-content>
            </mat-card>     
        </div>
    </div>

    <div class="row">
        <div class="card-item col-12 mt-2 mb-2">
            <mat-card>
                <mat-card-header>
                    <mat-card-title></mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="mb-2 ml-3">
                        To see my resume, go to <a [routerLink]="['/resume']">Resume</a>
                    </div>
                </mat-card-content>
            </mat-card>     
        </div>
    </div>
</div>