<div class="container-fluid mb-3">
    <div class="row">
        <div class="col-12 text-center mt-3 mb-1">
            <div class="header">
                This section summarizes a set of my MentorTek commercial projects and a set of special non-commercial projects. Because of non-disclosure agreements with the project clients, the descriptions here are fairly high level and do not disclose UI/UX, backend, and other detailed design patterns.
            </div>
        </div>
    </div>

    <hr />

    <ng-container *ngFor="let projectCategory of Portfolio">
        <div class="row">
            <div class="col-12 text-center mt-3 mb-1">
                <div class="header">
                    {{ projectCategory.title }}
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="card-item col-12 col-md-6 col-xl-4 mt-4" *ngFor="let project of projectCategory.items">
                <mat-card>
                    <mat-card-header>
                    <mat-card-title>{{ project.title }}</mat-card-title>
                    <mat-card-subtitle>{{ project.subtitle }}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="mb-2 ml-3">
                            {{ project.description }}
                        </div>
                        <ul>
                            <li *ngFor="let point of project.points">
                                {{ point }}
                            </li>
                        </ul>
                    </mat-card-content>
                </mat-card>     
            </div>
        </div>
    </ng-container>
</div>