mat-card {
    height: 100%;
}

img, .no-img {
    height: 20rem;
    object-fit: contain;
}

@media print {
    .card-item {
        width: 100% !important;
        max-width: 100% !important;
        flex: 0 0 100%;
    }

    .row {
        display: block !important;
    }

    .card-item {
        display: block !important;
        page-break-after: always;
    }
}