/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'IbarraRealNova';
    src: url('/assets/IbarraRealNova-Regular.ttf');
}   

html, body { height: 100%; }
body { margin: 0; font-family: IbarraRealNova, "Helvetica Neue", sans-serif; }

.shadow {
    box-shadow: 0 .5rem 1rem rgba(217, 194, 194, 0.15) !important;
}