name: Build Website

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '22'
      - name: NPM Install
        run: npm ci
      - name: Angular Build
        run: npm run build
      - name: Resume Build
        run: |
          mkdir resume/rendercv_output
          chmod 777 resume/rendercv_output
          docker run --rm --name portfolio-resume -v $PWD/resume:/data --entrypoint rendercv -w /data ghcr.io/rendercv/rendercv:v2.3 render "David_Nimon_CV.yaml"
