name: Publish Website

on:
  push:
    branches: [ main ]
    paths:
      - '**'

jobs:
  deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '22'
      - name: NPM Install
        run: npm ci
      - name: Angular Build
        run: npm run build
      - name: Resume Build
        run: docker run --rm -it --name portfolio-resume -v $PWD/resume:/data --entrypoint rendercv -w /data ghcr.io/rendercv/rendercv:v2.3 render "David_Nimon_CV.yaml"
      - name: Copy Resume
        run: cp resume/rendercv_output/David_Nimon_CV.pdf dist/personal-website/browser
      - name: Clean up
        run: pushd dist/personal-website/browser && cp index.html 404.html && popd
      - name: Publish
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          publish_dir: ./dist/personal-website/browser
          keep_files: true
          external_repository: dnimon/davidnimon.github.io
          publish_branch: main
